<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<title>Black Box</title>
	</head>
	<body>
		<div>
			<h1><strong>Black box</strong> </h1>
			<a href="#Gallery">Галерея</a>
			<a href="#Form">Заказать отделку</a> 
			<a href="#Contact information">Контакты</a>
		</div>
		<div>
			<h2><strong>Коротко о нас</strong></h2>
			<p>Мы молодая команда, готовая помочь Вам с отделкой для<br>
			 вашего будущего дома. BLACK BOX имеет сотрудничество с двумя<br>
			 крупными компаниями по отделке квартир. В нашей команде<br>
			 находится около десятка бригад с ответственными лицами. 
			</p>	
		</div>
		<div class="gallery">
			<h3 id="Gallery"><strong>
				Галлерея
			</strong></h3>
			
			<p>
				<img src="{% static "media\var1.jpg" %}" width="480" height="360" alt = "Room1">
				<img src="{% static "media\var5.jpg" %}" width="480" height="360" alt = "Room2">
			</p>
			<p>
				<img src="{% static "media\var3.jpg" %}" width="480" height="360" alt = "Room3">
				<img src="{% static "media\var4.jpg" %}" width="480" height="360" alt = "Room4">
			</p>
		</div>
		<div>
			<h3 id="Form">
				<strong>Заказать отделку</strong>
			</h3>
			<form>
				<p>Адресс:</p>
				<input type="text" placeholder="Введите адресс" required="Заполните поле">
				<button type="submit">Найти</button>
			</form>
			<form>
				<h4>
				Авторизируйтесь, чтобы быть в курсе процесса выполнения работ
				</h4>
				<p>Логин/Номер телефона:</p>
				<input type="text" placeholder="Логин/Тел." required>
				<p>Пароль:</p>
				<input type="password" required><br>
				<button type="submit">Заказать проект</button>

			</form>
		</div>
		<div>
			<h3 id="Contact information"><strong>
				Контакты
			</strong></h3>
			<p >Адресс: ул.******</p> 
			<p >Телефон раб. 8(999)********</p> 
		</div>
	</body>
</html>
