<!DOCTYPE html>
<html>
	<head>
		<title>Black Box</title>
	</head>
	<body>
		<div>
			<h1><strong>Black box</strong> </h1>
		</div>
		<div>
			<h2><strong>Коротко о нас</strong></h2>
			<p>Мы молодая команда, готовая помочь Вам с отделкой для вашего будущего дома. BLACK BOX имеет сотрудничество с двумя крупными компаниями по отделке квартир. В нашей команде находится около десятка бригад с ответственными лицами.</p>	
		</div>
		<div>
			<p><a href="https://imgur.com/search?q=Rooms">Галерея</a></p>
			<p><a href="https://vk.com/id153952828">Заказать отделку</a></p>
			<p><a href="https://vk.com/id153952828">Контакты</a></p>
		</div>
	</body>
</html>